<!DOCTYPE html>
<html>

<head>
  <% include partials/template/head.ejs %>
    <style>

    </style>
</head>

<body>
  <% include partials/template/header.ejs %>
    <div class="container">
      <div class="intro"></div>
    </div>
    <section id="team" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading" style="font-family: 'La Belle Aurore', cursive; color:initial;">Our Cancer Team</h2>
            <h3 class="section-subheading text-muted" style="font-family: 'La Belle Aurore', cursive; color:initial; padding-bottom: 1px;">"If you tell a big enough lie and tell it frequently enough, it will be believed." </h3></div>
        </div>
        <div class="row" style="    padding-left: 10px;">
          <div class="col-sm-4">
            <div class="team-member" style="color:initial;/*font:inherit;*/font-family:&#39;Russo One&#39;, sans-serif;"><img class="img-circle img-responsive" src="../images/members/moeSteam.jpg">
              <h4>Moe</h4>
              <p class="text-muted" style="font-family: 'Press Start 2P', cursive;">Triggered.</p>
              <ul class="list-inline social-buttons">
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member" style="color:initial;/*font:inherit;*/font-family:&#39;Russo One&#39;, sans-serif;"><img class="img-circle img-responsive" src="../images/members/ali.jpg">
              <h4>Ali</h4>
              <p class="text-muted" style="font-family: 'Press Start 2P', cursive;">What a Save!</p>
              <ul class="list-inline social-buttons">
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member" style="color:initial;/*font:inherit;*/font-family:&#39;Russo One&#39;, sans-serif;"><img class="img-circle img-responsive" src="../images/members/moeali.jpg">
              <h4>MAC</h4>
              <p class="text-muted" style="font-family: 'Press Start 2P', cursive;">No Boost.</p>
              <ul class="list-inline social-buttons">
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member" style="color:initial;/*font:inherit;*/font-family:&#39;Russo One&#39;, sans-serif;"><img class="img-circle img-responsive" src="../images/members/lemons.jpg">
              <h4>MAD</h4>
              <p class="text-muted" style="font-family: 'Press Start 2P', cursive;">Trading.</p>
              <ul class="list-inline social-buttons">
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member" style="color:initial;/*font:inherit;*/font-family:&#39;Russo One&#39;, sans-serif;"><img class="img-circle img-responsive" src="../images/members/ahmed.jpg">
              <h4>Hitler</h4>
              <p class="text-muted" style="font-family: 'Press Start 2P', cursive;">Am I gay?</p>
              <ul class="list-inline social-buttons">
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member" style="color:initial;/*font:inherit;*/font-family:&#39;Russo One&#39;, sans-serif;"><img class="img-circle img-responsive" src="../images/members/hadi.jpg">
              <h4>OJ</h4>
              <p class="text-muted" style="font-family: 'Press Start 2P', cursive;">FUCK!</p>
              <ul class="list-inline social-buttons">
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member" style="color:initial;/*font:inherit;*/font-family:&#39;Russo One&#39;, sans-serif;"><img class="img-circle img-responsive" src="../images/members/h.jpg">
              <h4>Michael</h4>
              <p class="text-muted" style="font-family: 'Press Start 2P', cursive;">Two GOLD Knifes!</p>
              <ul class="list-inline social-buttons">
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member" style="color:initial;/*font:inherit;*/font-family:&#39;Russo One&#39;, sans-serif;"><img class="img-circle img-responsive" src="../images/members/y.jpg">
              <h4>Joey</h4>
              <p class="text-muted" style="font-family: 'Press Start 2P', cursive;">Egg-Cellent Dude</p>
              <ul class="list-inline social-buttons">
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row" style="    padding-top: 100px;">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted" style="font-family: 'Press Start 2P', cursive;">Just a bunch of shitters...</p>
          </div>
        </div>
      </div>
    </section>
    </div>
    </div>
    <% include partials/template/footer.ejs %>

      <% include partials/template/jsdefaults.ejs %>
</body>

</html>
